.new-post-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.new-post-form {
  display: flex;
  flex-direction: column;
}

.new-post-form input,
.new-post-form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.new-post-form textarea {
  height: 200px;
  resize: none;
}

.submit-button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed; /* 고정된 위치로 설정 */
  right: 2rem;     /* 오른쪽 하단에 고정 */
  bottom: 2rem;
}

.submit-button:hover {
  background-color: #0056b3;
}
