.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left h1 {
  margin-right: 2rem;
  color: #333;
  cursor: pointer;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-right: 1.5rem;
}

.nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #333;
}

.header-right {
  display: flex;
  align-items: center;
}

.info-button,
.login-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 1rem;
}

.info-button:hover,
.login-button:hover {
  background-color: #333;
  color: white;
}
